.info {
  font-size: 20px;
  margin-top: 30px;
  background-color:  #dfd7d7af;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-bottom-left-radius: 180px;
  border-top-right-radius: 180px;
 
}

.info button {
  font-size: 17px;
  padding: 14px;

}

.giveSertficat {
  margin-left: 20px;
}

 body {
  /* background: url(https://media.timeout.com/images/102210875/image.jpg) no-repeat;
  background-size: 100%; Современные браузеры */
 }


 :root {
  --animate-duration: 1600ms;
  --animate-delay: 2s;
}

.buttonInfoList {
  opacity: 0.9;
}

.imageBackground { 
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 1800px;
  max-height: 1200px;
  z-index: -1;
}