.info {
  font-size: 20px;
  margin-top: 30px;
  background-color:  #dfd7d7af;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  border-bottom-left-radius: 180px;
  border-top-right-radius: 180px;
 
}

.buttonUnderInfo { 
  font-size: 16px;
  padding: 12px;
}

.giveSertficat {
  margin-left: 20px;
}

 body {
  /* background: url(https://media.timeout.com/images/102210875/image.jpg) no-repeat;
  background-size: 100%; Современные браузеры */
 }


 :root {
  --animate-duration: 1600ms;
  --animate-delay: 2s;
}


.imageBackground { 
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;	
}


.pages-enter-activity{
  animation: fade-in 1s forwards; 
}

.pages -exit-activity{
  animation: fade-in 1s forwards; 
}

/* .sentSuccess { 
  background-color: rgb(46, 228, 46);
  color: black;
  border-color: #19191a;
} */