 @font-face{

        font-family: 'FuturaPT-Book';
        
        src: url("../../fonts/FuturaPT-Book.eot") format("eot"); 
        src: url("../../fonts/FuturaPT-Book.ttf") format("ttf"); 
        src: url("../../fonts/FuturaPT-Book.woff") format("woff"); 
    
        
        font-weight: normal;
        
        font-style: normal;
        
        }


        element {
            --main-bg-color: rgb(203,204,206);
          }


        body { 
            font-family: 'FuturaPT-Book:bold';
            background-color: var(--main-bg-color);
        }

   